.memory-card {
  background-color: var(--memory-card, #fff);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  position: relative;
  width: var(--memory-card-width, 200px);
  height: var(--memory-card-height, 270px);
  &[data-selected="true"] &-back{
    transform: rotateY(0deg);
  }
  &[data-selected="true"] &-front{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  &-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #ccc;
    height: 100%;
    position: absolute;
    transition: transform 0.3s;
    width: 100%;
  }
  &-back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  &-front{
    transform: rotateY(0deg);
  }
}
  